body {
  background: #eeeeee;
}

a {
  transition: .35s all ease;
  color: #333;
}
a:hover, a:focus {
  text-decoration: none;
  transition: .35s all ease;
  color: #F44336;
}

.navbar-ednov {
  position: relative;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: 0 1px 6px 0 rgba(51, 51, 51, 0.2);
  margin-bottom: 0;
}
.navbar-ednov .navbar-brand {
  margin-top: -12px;
}
@media (min-width: 768px) {
  .navbar-ednov .navbar-brand {
    margin-top: 0;
  }
}
.navbar-ednov .navbar-header {
  width: 100%;
}
.navbar-ednov .navbar-header .fa {
  font-size: 20px;
}
.navbar-ednov .navbar-header .navbar-login, .navbar-ednov .navbar-header .navbar-list {
  margin-right: 0;
  display: block;
  position: relative;
}
.navbar-ednov .navbar-header .navbar-login .count, .navbar-ednov .navbar-header .navbar-list .count {
  position: absolute;
  top: -3px;
  left: 20px;
  background: #F44336;
  padding: 1px 5px;
  color: #FFFFFF;
  border-radius: 50%;
  font-size: 10px;
}
@media (min-width: 768px) {
  .navbar-ednov .navbar-header {
    padding-bottom: 42px;
  }
  .navbar-ednov .navbar-header .navbar-login, .navbar-ednov .navbar-header .navbar-list {
    top: 10px;
  }
  .navbar-ednov .navbar-header .navbar-login {
    margin-left: 5px;
    border: 1px solid #dddddd;
  }
  .navbar-ednov .navbar-header .navbar-login:hover {
    border: 1px solid #F44336;
    background: #F44336;
    color: #FFFFFF;
  }
}
.navbar-ednov a.navbar-toggle, .navbar-ednov .navbar-toggle {
  border-radius: 0;
  border: none;
  padding: 5px 10px;
  margin-right: 7.5px;
  color: #555555;
}
.navbar-ednov a.navbar-toggle:hover, .navbar-ednov a.navbar-toggle:focus, .navbar-ednov .navbar-toggle:hover, .navbar-ednov .navbar-toggle:focus {
  color: #F44336;
  background: transparent;
}
.navbar-ednov .navbar-collapse {
  border-color: #dddddd;
}
.navbar-ednov .navbar-collapse .navbar-nav > li.open > a {
  color: #F44336;
  background: transparent;
}
@media (min-width: 768px) {
  .navbar-ednov .navbar-collapse .navbar-nav > li.open > a {
    background: rgba(255, 205, 210, 0.2);
    color: #FFFFFF;
  }
  .navbar-ednov .navbar-collapse .navbar-nav > li.open > a:after {
    display: block;
    height: 3px;
    content: "";
    position: absolute;
    background: #FFFFFF;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.navbar-ednov .navbar-collapse .navbar-nav > li > a {
  color: #555555;
}
.navbar-ednov .navbar-collapse .navbar-nav > li > a:hover, .navbar-ednov .navbar-collapse .navbar-nav > li > a:focus {
  color: #F44336;
  background: transparent;
}
@media (min-width: 768px) {
  .navbar-ednov .navbar-collapse .navbar-nav > li > a {
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-ednov .navbar-collapse .navbar-nav > li > a:after {
    display: block;
    height: 3px;
    content: "";
    position: absolute;
    background: #FFFFFF;
    left: 50%;
    right: 50%;
    bottom: 0;
    transition: .35s ease all;
  }
  .navbar-ednov .navbar-collapse .navbar-nav > li > a:hover, .navbar-ednov .navbar-collapse .navbar-nav > li > a:focus {
    background: rgba(255, 205, 210, 0.2);
    color: #FFFFFF;
  }
  .navbar-ednov .navbar-collapse .navbar-nav > li > a:hover:after, .navbar-ednov .navbar-collapse .navbar-nav > li > a:focus:after {
    left: 0;
    right: 0;
    transition: .35s ease all;
  }
}
.navbar-ednov .navbar-collapse .navbar-nav > li > a.active {
  background: rgba(255, 205, 210, 0.2);
}
.navbar-ednov .navbar-collapse .navbar-nav > li > a.active:after {
  display: block;
  height: 3px;
  content: "";
  position: absolute;
  background: #FFFFFF;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .navbar-ednov .navbar-collapse {
    position: absolute;
    bottom: -36px;
    background: #F44336;
    right: 15px;
    left: 15px;
    padding-left: 0;
  }
}

.fa-25px {
  font-size: 24px;
}

.nopadding-xs {
  padding: 0;
}
@media (min-width: 768px) {
  .nopadding-xs {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  border-radius: 0;
}
.btn:focus, .btn:active, .btn.active {
  outline: none;
  box-shadow: none;
}
.btn.btn-primary {
  background: #2196F3;
  border-color: #2196F3;
}
.btn.btn-primary:hover {
  background: #1976D2;
  border-color: #1976D2;
}
.btn.btn-default {
  background: #FFFFFF;
  border-color: #FFFFFF;
}
.btn.btn-default:hover {
  background: #eeeeee;
  border-color: #eeeeee;
}
.btn.btn-info {
  background: #00BCD4;
  border-color: #00BCD4;
}
.btn.btn-info:hover {
  background: #0097A7;
  border-color: #0097A7;
}
.btn.btn-warning {
  background: #FFC107;
  border-color: #FFC107;
}
.btn.btn-warning:hover {
  background: #FFA000;
  border-color: #FFA000;
}
.btn.btn-danger {
  background: #F44336;
  border-color: #F44336;
}
.btn.btn-danger:hover {
  background: #D32F2F;
  border-color: #D32F2F;
}
.btn.btn-link {
  color: #333;
}
.btn.btn-link:hover, .btn.btn-link:focus {
  color: #F44336;
  text-decoration: none;
}
.btn-outline {
  background: transparent;
  color: #FFFFFF;
}
.btn-outline.btn-primary {
  background: transparent;
  border-color: #2196F3;
}
.btn-outline.btn-primary:hover {
  background: #1976D2;
  border-color: #1976D2;
}
.btn-outline.btn-default {
  background: transparent;
  border-color: #FFFFFF;
}
.btn-outline.btn-default:hover {
  background: #eeeeee;
  border-color: #eeeeee;
}
.btn-outline.btn-info {
  background: transparent;
  border-color: #00BCD4;
}
.btn-outline.btn-info:hover {
  background: #0097A7;
  border-color: #0097A7;
}
.btn-outline.btn-warning {
  background: transparent;
  border-color: #FFC107;
}
.btn-outline.btn-warning:hover {
  background: #FFA000;
  border-color: #FFA000;
}
.btn-outline.btn-danger {
  background: transparent;
  border-color: #F44336;
}
.btn-outline.btn-danger:hover {
  background: #D32F2F;
  border-color: #D32F2F;
}

@media (max-width: 767px) {
  .text-default-xs {
    color: #333;
  }
}

.carousel-ednov {
  margin-bottom: 20px;
}
.carousel-ednov h2 {
  text-transform: uppercase;
}
.carousel-ednov .item:after {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.carousel-ednov .carousel-control {
  background: transparent;
  width: 60px;
  opacity: .5;
}
.carousel-ednov .carousel-control:hover {
  opacity: 1;
}
.carousel-ednov .carousel-control span.glyphicon {
  width: 36px;
  height: 36px;
  font-size: 16px;
  padding: 10px;
  border-radius: 50%;
  background: #333;
  display: none;
}
.carousel-ednov .carousel-control span.glyphicon:before {
  text-shadow: none;
}
.carousel-ednov .carousel-control span.glyphicon.left span.fa {
  left: 15px;
}
.carousel-ednov .carousel-control span.glyphicon.right span.fa {
  right: 15px;
}
@media (min-width: 768px) {
  .carousel-ednov .carousel-control span.glyphicon {
    display: block;
  }
}
@media (max-width: 767px) {
  .carousel-ednov .carousel-control {
    display: none;
  }
  .carousel-ednov .item:after {
    background: transparent;
  }
  .carousel-ednov .item .carousel-caption h1, .carousel-ednov .item .carousel-caption h2, .carousel-ednov .item .carousel-caption h3, .carousel-ednov .item .carousel-caption h4, .carousel-ednov .item .carousel-caption h5, .carousel-ednov .item .carousel-caption h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .carousel-ednov .item img {
    min-height: 160px;
  }
  .carousel-ednov .item .carousel-caption {
    text-align: left;
    background: #FFFFFF;
    width: 100%;
    position: relative;
    margin-left: 0;
    left: 0;
    top: 0;
    padding: 15px;
    color: #212121;
    text-shadow: none;
    border-bottom: 1px solid #dedede;
  }
  .carousel-ednov .carousel-caption {
    position: relative;
  }
  .carousel-ednov .carousel-indicators {
    top: 10px;
    right: 0;
    margin: 0;
    padding-right: 20px;
    text-align: right;
    bottom: auto;
    width: 100%;
    left: 0;
  }
}

.form-control {
  border-radius: 0;
}
.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.text-success {
  color: #4CAF50;
}

.page-header {
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
  position: relative;
  height: 42px;
  margin-top: 20px;
}
.page-header .btn-link {
  color: #333;
}
.page-header .btn-link i.fa {
  margin-right: 5px;
  margin-left: 0;
}
.page-header .btn-link:hover {
  color: #F44336;
  text-decoration: none;
}
.page-header .btn-link:hover i.fa {
  margin-left: 5px;
  margin-right: 0;
}
.page-header .page-title {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 20px;
  background: #555555;
  bottom: 0;
  color: #FFFFFF;
  font-weight: normal;
}
.page-header .page-title:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 10px 5px;
  border-bottom-color: #333;
  border-left-color: #333;
  right: -10px;
  top: 0;
  z-index: -1;
}
.page-header .owl-control-nav {
  float: right;
  font-size: 0;
}
.page-header .owl-control-nav .control {
  font-size: 20px;
  background: #555555;
  border: 0;
  color: #FFFFFF;
  margin: 0;
  padding: 7px 10px;
  outline: none;
}
.page-header .owl-control-nav .control:hover {
  background: #F44336;
}

.product-nav {
  position: relative;
  margin-bottom: 15px;
}
.product-nav-content {
  margin: 0;
  padding: 0;
}
.product-nav-content li {
  list-style: none;
  display: inline-block;
  margin: 3px;
  margin-left: 0;
}
.product-nav-content li a {
  background: #FFFFFF;
  display: block;
  padding: 7.5px 15px;
}
.product-nav-content li a:hover, .product-nav-content li a:focus {
  background: #F44336;
  color: #FFFFFF;
}
.product-nav-content li.active a {
  background: #F44336;
  color: #FFFFFF;
}

.product {
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}
.product:hover {
  box-shadow: 0 1px 6px 0 rgba(51, 51, 51, 0.35);
}
.product .thumbnail {
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #eeeeee;
}
.product .thumbnail .info {
  position: absolute;
  display: block;
  transition: .35s bottom ease;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .product .thumbnail .info {
    bottom: -100%;
  }
}
.product .thumbnail .info a {
  background: #F44336;
  color: #FFFFFF;
  padding: 5px 10px;
  display: inline-block;
}
.product .thumbnail .info a:hover {
  background: #333;
}
.product .thumbnail img {
  transform: scale(1);
  transition: .35s ease transform;
  width: auto;
}
.product:hover .thumbnail img {
  transform: scale(1.2);
  transition: .35s ease transform;
}
.product:hover .info {
  bottom: 0;
  transition: .35s bottom ease;
}
.product .caption {
  padding: 15px;
  text-align: center;
}
.product .caption .product-name a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  text-transform: uppercase;
  display: block;
}
.product .caption .product-name a:hover {
  color: #F44336;
}
.product .caption .product-price .price {
  font-size: 18px;
  color: #333;
  display: inline-block;
}
.product .caption .product-price .oldprice {
  color: #999999;
  text-decoration: line-through;
  display: inline-block;
}

.content {
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

.product-cat {
  border-radius: 0;
  border: 0;
}
.product-cat .panel-heading {
  background: #F44336;
  color: #FFFFFF;
  border-radius: 0;
}
.product-cat .panel-heading .panel-title {
  text-transform: uppercase;
}
.product-cat .active {
  background: transparent;
  border-bottom-color: #dddddd;
}
.product-cat .active:hover {
  background: transparent;
  border-bottom-color: #dddddd;
}
.product-cat .active a {
  color: #F44336;
}

.product-single {
  position: relative;
}
.product-single .product-info {
  background: #FFFFFF;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 15px;
}
.product-single .product-info .thumbnail {
  border: 0;
  background: #F44336;
  border-radius: 0;
  padding: 0;
}
.product-single .product-info .product-title {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 15px 0 0;
}
.product-single .product-info .product-wrap {
  border-bottom: 1px solid #cccccc;
}
.product-single .product-info .product-wrap ul {
  margin: 7.5px 0;
  padding: 0;
}
.product-single .product-info .product-wrap ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.product-single .product-info .product-wrap ul li a {
  display: block;
  color: #666666;
}
.product-single .product-info .product-wrap ul li a:hover, .product-single .product-info .product-wrap ul li a:focus {
  color: #F44336;
}
.product-single .product-info .short-desc {
  margin: 10px 0;
  padding: 0;
}
.product-single .product-info .short-desc li {
  list-style: none;
  padding: 3px 0;
}
.product-single .product-info .short-desc .product-price .price {
  font-size: 24px;
  color: #333;
  display: inline-block;
  font-weight: bold;
}
.product-single .product-info .short-desc .product-price .oldprice {
  vertical-align: super;
  color: #999999;
  text-decoration: line-through;
  display: inline-block;
}
@media (min-width: 384px) {
  .product-single .product-info .product-option {
    max-width: 240px;
  }
}
.product-single .product-info .product-option .num {
  text-align: center;
}
.product-single .product-info .product-option .num::-webkit-outer-spin-button, .product-single .product-info .product-option .num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-single .product-info .product-option .input-group-addon {
  background: transparent;
  padding-left: 0;
  border-color: transparent;
}
.product-single .product-info .product-option .input-group input {
  padding: 5px;
}
.product-single .product-info .product-option .input-group-btn .btn {
  border-color: #cccccc;
  margin-right: -2px;
  margin-left: -1px;
}
.product-single .product-info .product-option .input-group-btn .btn:focus {
  outline: none;
}
.product-single .product-info .product-option .input-group .add-cart .btn {
  margin-left: 5px;
  border-color: #F44336;
}
.product-single .product-tab {
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-single .product-tab .nav-tabs {
  border: 0;
}
.product-single .product-tab .nav-tabs li a {
  border: 0;
  margin: 0;
  border-radius: 0;
  background: #b3b3b3;
  color: #FFFFFF;
}
.product-single .product-tab .nav-tabs li.active a {
  background: #FFFFFF;
  color: #333;
}
.product-single .product-tab .tab-content {
  background: #FFFFFF;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}

.footer {
  background: #333;
  color: #FFFFFF;
}
.footer .list-group {
  background: transparent;
}
.footer .list-group-item {
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}
.footer .bottom-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .end-info {
  background: #222222;
  padding: 15px;
}
.footer .block-heading .block-title {
  text-transform: uppercase;
}
.footer .block-body {
  color: #cccccc;
}
.footer .block-list {
  margin: 0;
  padding: 0;
}
.footer .block-list li {
  list-style: none;
}
.footer .block-list li a {
  color: #cccccc;
  padding: 3px 0;
  display: block;
}
.footer .block-list li a:hover {
  color: #F44336;
}

.pagination li:first-child a, .pagination li:last-child a {
  background: #737373;
  border-color: #737373;
}
.pagination li a {
  border-radius: 0 !important;
  background: #333;
  border-color: #333;
  color: #FFFFFF;
}
.pagination li a:hover, .pagination li a:focus {
  background: #F44336;
  color: #FFFFFF;
  border-color: #F44336;
}
.pagination li.disabled a {
  background: #333;
  color: #FFFFFF;
  border-color: #333;
}
.pagination li.disabled a:hover, .pagination li.disabled a:focus {
  background: #F44336;
  color: #FFFFFF;
  border-color: #F44336;
}
.pagination li.active a, .pagination li.active a:hover, .pagination li.active a:focus {
  background: #F44336;
  color: #FFFFFF;
  border-color: #F44336;
}

.breadcrumb {
  background: #FFFFFF;
  border-radius: 0;
}
@media (min-width: 768px) {
  .breadcrumb {
    margin-top: 30px;
  }
}
.breadcrumb li a {
  color: #333;
}
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #F44336;
}

.wrap-breadcrumb {
  background: url("./img/breadcrumb.jpg") scroll repeat;
  background-size: 100% 100%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0;
}
.wrap-breadcrumb .breadcrumb {
  text-align: center;
  background: transparent;
  border: 0;
  padding-top: 25px;
}
.wrap-breadcrumb .breadcrumb > li + li:before {
  font-family: 'FontAwesome';
  color: #333;
  content: "\f101";
}
