
.btn {
    border-radius: 0;
    &:focus,&:active,&.active {
        outline: none;
        box-shadow: none;
    }
    &.btn-primary {
        @include colorBtn($blue, $blueDark);
    }
    &.btn-default {
        @include colorBtn($white, $white - #111);
    }
    &.btn-info {
        @include colorBtn($cyan, $cyanDark);
    }
    &.btn-warning {
        @include colorBtn($amber, $amberDark);
    }
    &.btn-danger {
        @include colorBtn($red, $redDark);
    }
    &.btn-link {
        color: $black;
        &:hover,&:focus {
            color: $red;
            text-decoration: none;
        }
    }
    &-outline {
        background: transparent;
        color: $white;
        &.btn-primary {
            @include colorBtnOutline($blue, $blueDark);
        }
        &.btn-default {
            @include colorBtnOutline($white, $white - #111);
        }
        &.btn-info {
            @include colorBtnOutline($cyan, $cyanDark);
        }
        &.btn-warning {
            @include colorBtnOutline($amber, $amberDark);
        }
        &.btn-danger {
            @include colorBtnOutline($red, $redDark);
        }
    }
}