.text-default-xs {
    @media (max-width: 767px) {
        color: $black;
    }
}
.carousel-ednov {
    margin-bottom: 20px;
    h2 {
        text-transform: uppercase;
    }
    .item {
        &:after {
            background: rgba($black,.5);
            position: absolute;
            content: "";
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .carousel-control {
        background: transparent;
        width: 60px;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
        span.glyphicon {
            width: 36px;
            height: 36px;
            font-size: 16px;
            padding: 10px;
            border-radius: 50%;
            background: $black;
            display: none;
            &:before {
                  text-shadow: none;
            }
            &.left span.fa {
               left: 15px;
            }
            &.right span.fa {
                right: 15px;
            }
            @media (min-width: 768px) {
                display: block;
            }
        }
    }
    @media (max-width: 767px) {
        .carousel-control {
            display: none;
        }
        .item {
            &:after {
                background: transparent;
            }
            .carousel-caption {
                h1,h2,h3,h4,h5,h6 {
                    margin: 0;
                    padding: 0;
                    font-weight: normal;
                }
            }
            img {
                min-height: 160px;
            }
            .carousel-caption {
                text-align: left;
                background: #FFFFFF;
                width: 100%;
                position: relative;
                margin-left: 0;
                left: 0;
                top: 0;
                padding: 15px;
                color: #212121;
                text-shadow: none;
                border-bottom: 1px solid #dedede;
            }
        }
        .carousel-caption {
            position: relative;
        }
        .carousel-indicators {
            top: 10px;
            right: 0;
            margin: 0;
            padding-right: 20px;
            text-align: right;
            bottom: auto;
            width: 100%;
            left: 0;
        }
    }    
}

.page-header {
    background: $white;
    border-bottom: 1px solid $white - #333;
    position: relative;
    height: 42px;
    margin-top: 20px;
    .btn-link {
        color: $black;
        i.fa {
            margin-right: 5px;
            margin-left: 0;
        }
        &:hover {
            color: $red;
            text-decoration: none;
            i.fa {
                margin-left: 5px;
                margin-right: 0;
            }
        }
    }
    .page-title {
        text-transform: uppercase;
        font-size: 18px;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 20px;
        background: $black + #222;
        bottom: 0;
        color: $white;
        font-weight: normal;
        &:after {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: transparent;
            border-width: 10px 5px;
            border-bottom-color: $black;
            border-left-color: $black;
            right: -10px;
            top: 0;
            z-index: -1;
        }
    }
    .owl-control-nav {
        float: right;
        font-size: 0;
        .control {
            font-size: 20px;
            background: $black + #222;
            border: 0;
            color: $white;
            margin: 0;
            padding: 7px 10px;
            outline: none;
            &:hover {
                background: $red;
            }
        }
    }
}
.product-nav {
    position: relative;
    margin-bottom: 15px;
    &-content {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 3px;
            margin-left: 0;
            a {
                background: $white;
                display: block;
                padding: 7.5px 15px;
                &:hover,&:focus {
                    background: $red;
                    color: $white;
                }
            }
            &.active {
                a {
                    background: $red;
                    color: $white;
                }
            }
        }
    }
}
.product {
    position: relative;
    background: $white;
    border-bottom: 1px solid $white - #333;
    margin-bottom: 20px;
    &:hover {
        box-shadow: 0 1px 6px 0 rgba($black,.35);
    }
    .thumbnail {
        background: transparent;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid $white - #111;
        .info {
            position: absolute;
            display: block;
            transition: .35s bottom ease;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            @media (min-width: 768px) {
                bottom: -100%;
            }
            a {
                background: $red;
                color: $white;
                padding: 5px 10px;
                display: inline-block;
                &:hover {
                    background: $black;
                }
            }
        }
        img {
            transform: scale(1);
            transition: .35s ease transform;
            width: auto;
        }
    }
    &:hover {
        .thumbnail img {
            transform: scale(1.2);
            transition: .35s ease transform;
        }
        .info {
            bottom: 0;
            transition: .35s bottom ease;
        }
    }
    .caption {
        padding: 15px;
        text-align: center;
        .product-name {
            a {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $black * 3;
                text-transform: uppercase;
                display: block;
                &:hover {
                    color: $red;
                }
            }
        }
        .product-price {
            .price {
                font-size: 18px;
                color: $black;
                display: inline-block;
            }
            .oldprice {
                color: $black * 3;
                text-decoration: line-through;
                display: inline-block;
            }
        }
    }
}
.content {
    position: relative;
    background: $white;
    border-bottom: 1px solid $white - #333;
    margin-bottom: 20px;
}
.footer {
    background: $black;
    color: $white;
    .list-group {
        background: transparent;
        &-item {
            background: transparent;
            padding-left: 0;
            padding-right: 0;
            border: 0;
        }
    }
    .bottom-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .end-info {
        background: $black - #111;
        padding: 15px;
    }
    .block {
        &-heading {
            .block-title {
                text-transform: uppercase;
            }
        }
        &-body {
            color: $white - $black;
        }
        &-list {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                a {
                    color: $white - $black;
                    padding: 3px 0;
                    display: block;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

.pagination {
    li {
        &:first-child,&:last-child {
            a {
                background: $black * 2.25;
                border-color: $black * 2.25;
            }
        }
        a {
            border-radius: 0 !important;
            background: $black;
            border-color: $black;
            color: $white;
            &:hover,&:focus {
                background: $red;
                color: $white;
                border-color: $red;
            }
        }
        &.disabled {
            a {
                background: $black;
                color: $white;
                border-color: $black;
                &:hover,&:focus {
                    background: $red;
                    color: $white;
                    border-color: $red;
                }
            }
        }
        &.active {
            a,a:hover,a:focus {
                background: $red;
                color: $white;
                border-color: $red;
            }
        }
    }
}
.breadcrumb {
    background: $white;
    border-radius: 0;
    @media (min-width: 768px) {
        margin-top: 30px;
    }
    li {
        a {
            color: $black;
            &:hover,&:focus {
                color: $red;
            }
        }
    }
}

.wrap-breadcrumb {
    background: url("./img/breadcrumb.jpg") scroll repeat;
    background-size: 100% 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 0;
    .breadcrumb {
        text-align: center;
        background: transparent;
        border: 0;
        padding-top: 25px;
        > li + li:before {
            font-family: 'FontAwesome';
            color: $black;
            content: "\f101";
        }
    }
}
.product-cat {
    border-radius: 0;
    border: 0;
    .panel-heading {
        background: $red;
        color: $white;
        border-radius: 0;
        .panel-title {
            text-transform: uppercase;
        }
    }
    .active {
        background: transparent;
        border-bottom-color: $white - #222;
        &:hover {
            background: transparent;
            border-bottom-color: $white - #222;
        }
        a {
            color: $red;
        }
    }
}

.product-single {
    position: relative;
    .product-info {
        background: $white;
        border-bottom: 1px solid $white - #333;
        margin-bottom: 20px;
        padding: 15px;
        .thumbnail {
            border: 0;
            background: $red;
            border-radius: 0;
            padding: 0;
        }
        .product-title {
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            margin: 15px 0 0;
        }
        .product-wrap {
            border-bottom: 1px solid $white - $black;
            ul {
                margin: 7.5px 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 5px;
                    a {
                        display: block;
                        color: $black * 2;
                        &:hover, &:focus {
                            color: $red;
                        }
                    }
                }
            }
        }
        .short-desc {
            margin: 10px 0;
            padding: 0;
            li {
                list-style: none;
                padding: 3px 0;
            }
            .product-price {
                .price {
                    font-size: 24px;
                    color: $black;
                    display: inline-block;
                    font-weight: bold;
                }
                .oldprice {
                    vertical-align: super;
                    color: $black * 3;
                    text-decoration: line-through;
                    display: inline-block;
                }
            }
        }
        .product-option {
            max-width: 240px;
            .num {
                text-align: center;
                &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            .input-group {
                &-addon {
                    background: transparent;
                    padding-left: 0;
                    border-color: transparent;
                }
                &-btn {
                    .btn {
                        border-color: $white - $black;
                        margin-right: -2px;
                        margin-left: -1px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .add-cart {
                    .btn {
                        margin-left: 5px;
                        border-color: $red;
                    }
                }
            }
        }
    }
    .product-tab {
        margin-top: 15px;
        margin-bottom: 15px;
        .nav-tabs {
            border: 0;
            li {
                a {
                    border: 0;
                    margin: 0;
                    border-radius: 0;
                    background: $black * 3.5;
                    color: $white;
                }
                &.active {
                    a {
                        background: $white;
                        color: $black;
                    }
                }
            }
        }
        .tab-content {
            background: $white;
            padding: 20px;
            border-bottom: 1px solid $white - $black;
        }
    }
}

.form-control {
    border-radius: 0;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.text {
    &-success {
        color: $green;
    }
}