.text-default-xs {
    @media (max-width: 767px) {
        color: $black;
    }
}
.carousel-ednov {
    margin-bottom: 20px;
    h2 {
        text-transform: uppercase;
    }
    .item {
        &:after {
            background: rgba($black,.5);
            position: absolute;
            content: "";
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .carousel-control {
        background: transparent;
        width: 60px;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
        span.glyphicon {
            width: 36px;
            height: 36px;
            font-size: 16px;
            padding: 10px;
            border-radius: 50%;
            background: $black;
            display: none;
            &:before {
                  text-shadow: none;
            }
            &.left span.fa {
               left: 15px;
            }
            &.right span.fa {
                right: 15px;
            }
            @media (min-width: 768px) {
                display: block;
            }
        }
    }
    @media (max-width: 767px) {
        .carousel-control {
            display: none;
        }
        .item {
            &:after {
                background: transparent;
            }
            .carousel-caption {
                h1,h2,h3,h4,h5,h6 {
                    margin: 0;
                    padding: 0;
                    font-weight: normal;
                }
            }
            img {
                min-height: 160px;
            }
            .carousel-caption {
                text-align: left;
                background: #FFFFFF;
                width: 100%;
                position: relative;
                margin-left: 0;
                left: 0;
                top: 0;
                padding: 15px;
                color: #212121;
                text-shadow: none;
                border-bottom: 1px solid #dedede;
            }
        }
        .carousel-caption {
            position: relative;
        }
        .carousel-indicators {
            top: 10px;
            right: 0;
            margin: 0;
            padding-right: 20px;
            text-align: right;
            bottom: auto;
            width: 100%;
            left: 0;
        }
    }    
}
.form-control {
    border-radius: 0;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.text {
    &-success {
        color: $green;
    }
}