$red			: #F44336;
$redLight		: #FFCDD2;
$redDark		: #D32F2F;
$red50 			: #FFEBEE;
$red900			: #B71C1C;

$blue			: #2196F3;
$blueLight		: #BBDEFB;
$blueDark		: #1976D2;
$blue50			: #E3F2FD;
$blue900		: #0D47A1;
$lightBlue4		: #039BE5;

$green			: #4CAF50;
$greenLight		: #C8E6C9;
$greenDark		: #388E3C;
$green50 		: #E8F5E9;
$green900		: #1B5E20;

$cyan			: #00BCD4;
$cyanLight		: #B2EBF2;
$cyanDark		: #0097A7;
$cyan900		: #006064;

$amber			: #FFC107;
$amberLight		: #FFECB3;
$amberDark		: #FFA000;
$amber50		: #FFF3E0;
$amber900		: #FF6F00;

$blueGray 		: #607D8B;
$blueGrayLight 	: #CFD8DC;
$blueGrayDark 	: #455A64;

$text			: #212121;
$textSecond 	: #757575;
$divider		: #BDBDBD;

$white			: #FFFFFF;
$grayLight		: #f5f5f5;
$black: #333;